/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(273, 97%, 66%);
  --first-color-shape: hsl(253, 33%, 32%);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: black;
  --container-color: #fff;
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(273, 21%, 56%);
  --container-color-dark: hsl(273, 80%, 14%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
  background-color: yellow;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/




.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}



.nav__list {
  display: flex;
  justify-content: center;
  row-gap: 1.5rem;
  gap: 4em;

}

.nav__link {
  color: black;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: .4s;
}


.header-nav-box {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 88%;
  margin-top: 20px;
  max-height: 60px;
  border-radius: 6px;
  padding: 2px;
  box-shadow: 0 0 33px white;
  opacity: 0.9;
 
}


hr {
  min-width: 100%;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}



.header {
  display: flex;
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  justify-content: center;
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.header__logo, .header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
}

.marquee {
  display: flex;
  align-items: center;
  
  padding: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1em;
  max-height: 600px;
}

#home > h1 {
  font-size: 2.5vh;
  color: white;
  text-shadow: 0 0 10px white;
  padding-bottom: 40px;
}

#home > img {
  height: 32px;
  width: 32px;
  animation: floatUpDown 2s ease-in-out infinite;
}

#home > button {
  box-shadow: 0 0 45px rgb(116, 34, 224);
  
  background-color: rgb(116, 34, 224);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 10px;
  width: 8em;
}

#home > h2 {
  font-size: 1.8vh;
  color: rgb(170, 170, 170);
  font-weight: 200;

}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-20px); /* Midway position - move up */
  }
}


/* Show menu */
.show-menu {
  transform: translate(70%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(40%);
  }
  .nav__list {
    flex-direction: row; 
    gap: 2em;/* Display links horizontally */
  }

 
}


/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header__nav {
    justify-content: space-around; /* Align links to the right */
  }

  

  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
  .nav__list {
    flex-direction: row; /* Display links horizontally */
  }
  .nav__item {
    margin-left: 1.5rem; /* Adjust spacing between links */
  }
}
