/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(273, 97%, 66%);
  --first-color-shape: hsl(253, 33%, 32%);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: #06040F;
  --container-color: #fff;
  --title-color-dark: hsl(0, 0%, 68%);
  --text-color-dark: hsl(240, 1%, 37%);
  --container-color-dark: hsl(273, 80%, 14%);
  /*========== Font and typography ==========*/
  --body-font: 'Graphik';
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/GraphikRegular.otf') format('truetype');
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
  
 
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
  
  
}

h1, h2, h3 {
  color: var(--title-color);
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/




.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
 
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}



.nav__list {
  display: flex;
  justify-content: center;
  row-gap: 1.5rem;
  gap: 4em;

}

.nav__link {
  color: black;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: .4s;
}


.header-nav-box {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin-top: 20px;
  max-height: 60px;
  border-radius: 6px;
  padding: 2px;
  box-shadow: 0 0 33px rgb(170, 168, 168);
  opacity: 0.9;
 
}


hr {
  min-width: 100%;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}



.header {
  display: flex;
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  justify-content: center;
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.header__logo, .header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
}

.marquee {
  display: flex;
  align-items: center;
  
  padding: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1em;
  max-height: 700px;
  
}
#testimonials {
  margin-top: 80px;
}

#testimonials > .swiper > .swiper-wrapper > .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 130px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border: .2rem solid rgba(0, 0, 0, 0.22);
  padding: 10px;

  
 
}

.review {
  text-wrap :wrap;
  font-size: 0.8rem;
  line-height: 1;
}

 .swiper-slide > div > .test-img {
  
  height: 50px;
  min-width: 50px;
  border-radius: 30px;
  filter: grayscale(100%);
}

.swiper-slide > div {
  display: flex;
  gap: 0.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide > div > p {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}

#home > .logo {
  height: 180px;
  width: 180px;
 
  border-radius: 60px;
  
}

#home > h1 {
  font-size: 2.5vh;
  color: white;
  text-shadow: 0 0 5px rgb(189, 189, 189);
  padding-bottom: 40px;
  font-weight: 2000;
}

.arrow {
  height: 32px;
  width: 32px;
  animation: floatUpDown 2s ease-in-out infinite;
}
/* #6220f3 */
#home > button {
  background-color: #6220f3;
  
  box-shadow: inset 0 0 10px 5px rgb(114, 74, 198), 0 0 50px rgb(145, 110, 221);
  
  border:1.5px ridge rgb(168, 137, 234);
  
  border-radius: 10px;
  color: white;
  font-weight: 1000;
  font-size: 1rem;
  padding: 10px;
  width: 8em;
}

#home > h2 {
  font-size: 1.8vh;
  color: rgb(170, 170, 170);
  font-weight: 200;

}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-20px); /* Midway position - move up */
  }
}

#services {
  height: 2000px;

  
  
  
}

#services > h1 {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 60px;
  
}


#services > h2 {
  margin-top: 60px;
  text-align: center;
  color: gray;
  font-size: 1.2rem;
}



.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  

  
 
  
}

.service-card {
  
  
  box-sizing:content-box;
  max-height: 500px;
  max-width: 300px;
  padding: 30px;
  box-shadow: inset 0 0 200px 5px rgb(61, 60, 60);
  background-color: #0e0a20;
  border-radius: 30px;
  border:1px ridge rgb(131, 131, 131);
}


.service-card > div > img {
  height: 30px;
  width: 30px;
}

.top-bar {
  color: rgb(181, 179, 179);
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-card > p {
  font-size: var(--small-font-size);
}

.hero {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  min-height: 250px;
  
}

.hero > img {
  height: 50px;
  width: 50px;
}

.three > .hero > img {
  height: 10px;
  width: 10px;
}

.hero > h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 1.8rem;
}
.hero > p {
  font-size: var(--small-font-size);
}

#work{
  
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper > h1 {
  color: white;
  font-size: 2rem;
  margin: 100px 0px 100px 0px;
  text-align: center;
}

.swiper-slide{
  max-height: 35vh;
  max-width: 35vh;
  /* background-color: #1b1f2a; */
  border: .2rem solid rgba(255,255,255,.1);
  border-radius: .7rem;
  
  overflow: hidden;
  /* padding: .2rem; */
}

.swiper-slide  > img{
  width: 100%;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}


#about {
 
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 1400px;
}

#about > h1 {
  color: #9a6cfd;
  text-align: center;
  
}

.seo-card {
  min-height: 250px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: inset 0 0 200px 5px rgb(61, 60, 60);
  background-color: #000000;
  border:1px ridge rgb(131, 131, 131);
  border-radius: 20px;
  padding: 30px;
}

.seo-card > h2 {
  color: white;
}

.seo-card > p {
  font-size: 0.9rem;
}

/* .purple-q {
  color:#6220f3;
} */


footer {
  margin-top: 50px;
}

.photos-email {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.photos-email > div > a > img {
  height: 35px;
  width: 35px;

}




.follow-us:before , .follow-us:after{
  content:" ";
  display: block;
  height: 2px;
  width: 30%;
  position: absolute;
  top: 97.6%;
  
  background: rgb(112, 112, 112);
}

.follow-us {
  max-width: 100%;
  
  text-align: center;
}

.follow-us:before {
  left: 0%;
}

.follow-us:after {
  right: 0%;
}



/* Show menu */
.show-menu {
  transform: translate(70%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(40%);
  }
  .nav__list {
    flex-direction: row; 
    gap: 2em;/* Display links horizontally */
  }

 
}


/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header__nav {
    justify-content: space-around; /* Align links to the right */
  }

  

  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
  .nav__list {
    flex-direction: row; /* Display links horizontally */
  }
  .nav__item {
    margin-left: 1.5rem; /* Adjust spacing between links */
  }
}
